.footer {
    background: #15161a;
    bottom: 0;
    width: 100vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;

    .LogoFrame {
        color: #2a2d34;
        transition: transform 2s;
        border: 1px solid #2a2d34;
        width: 5rem;
        aspect-ratio: 1 / 1;
        margin-left: 2%;
        margin-top: 0.5%;
        z-index: 1;
    &:hover {
      transform: rotate(360deg);
      border: 1px solid #FFA500;
    }
    }
    .LogoTextBox {
        color: #2a2d34;
        position: absolute;
        margin-top: 0.5%;
        left: 2rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .LogoText {
            display: flex;
            justify-content: flex-start;
        }
        @media (min-width: 960px) {
            left: 3.5rem;
          }
    }
    .Button {
        background: #15161a;
        border: 1px solid #2a2d34;
        color: #a4aab9;
        font-size: 1rem;
        padding: 0.5rem;
        width: 40%;
        margin-right: 4%;
        cursor: pointer;
        &:hover {
            background: #15161a;
            border: 1px solid #fff;
            color: #fff;
        }
        @media (min-width: 960px) {
            font-size: 1.5rem;
          }
    }
    .Text {
        color: #2a2d34;
        font-size: 2rem;
    }
    .ButtonContainer {
        width: 70%;
        @media (min-width: 960px) {
            width: 40%;
          }
    }
}
